{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "onlyRemoveTypeImports": true,
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}