@import '../App.scss';

.ProfileWidgets {
    margin: 7em 30px 30px 30px;
    display: grid;
    font-family: "Nunito Sans", sans-serif;
    grid-template-columns: 20% 80%;
    justify-items: stretch;
    align-items: flex-start;
    grid-template-areas:
      "SidebarWidget Widget";
  
    .SidebarWidget {
      min-width: 250px;
      max-width: 250px;
      margin: var(--widgetMargin);
      display: flex;
      font-size: 1.7rem;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
    }
  
    .SidebarWidget #Panel {
      min-height: 350px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      margin: 3px;
      color: var(--cardText);
      background: var(--cardBackground);
      padding: 5% 5%;
      font-size: 1.75rem;
    }
  
    .SidebarWidget #Panel #UserIcon {
      margin-top: 3px;
    }
  
    .SidebarWidget #Panel #UserIcon img {
      display: block;
      float: none;
      margin: auto auto;
      width: 125px;
      height: 125px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border-color: var(--imageBorder);
    }
  
    .SidebarWidget #Panel #Username {
      font-size: 1.3rem;
    }
  
    .ProfileIcon {
      padding: 10px;
    }
  
    .ProfileUser {
      color: var(--cardText);
    }
  }