@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.App {
}

.Toolbar {
  border-radius: 0.5rem;
  margin-left: 10%;
  margin-top: 20px;
  border: 0.4rem solid #DFE0E2;
  background: #DFE0E2;
  padding-left: 1rem;
}

.Toolbar-div {
  align-content: flex-start;
  display: flex;
}

.Widgets {
  display: grid;
  font-family: "Nunito Sans", sans-serif;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 60% 40%;
  justify-items: stretch;
  height: 100vh;
  width: 100vw;
}

.CFWidget {
}

.FBW-Logo {
  max-width: 50px;
}

#ToolbarItem {
  margin-left: 25px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

#ToolbarItemActive {
  margin-left: 25px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  border-bottom: solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}


