@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

:root {
  --mainText: rgba(0, 0, 0, 0.6);
  --mainTextSecondary: rgba(0, 0, 0, 0.5);

  --cardText: rgba(0, 0, 0, 0.7);
  --cardBackground: rgb(223, 224, 226);
  --widgetMargin: 10px;
}

#root {
  background: #E5E5E5;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.App {
}

.FBW-Logo {
  max-width: 50px;
}

#Panel {
  font-weight: 700;
}

.Toolbar {
  background: var(--cardBackground);
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 91% 9%;
}

.ToolbarDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.Toolbar #Icon {
  justify-content: end;
}

.Toolbar #Profile {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.Toolbar #Profile #Icon {
  margin-left: 10px;
  font-size: 2.5rem;
}

.ToolbarItem {
  margin-top: 12px;
  margin-left: 25px;
  padding-bottom: .25em;

  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;

  color: var(--mainText);

  cursor: pointer;

  &.Active {
    border-bottom: solid var(--mainTextSecondary) .15em;
  }
}

.Widgets {
  margin: 30px;
  display: grid;
  font-family: "Nunito Sans", sans-serif;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  justify-items: stretch;
  align-items: flex-start;
  grid-template-areas:
    "CFWidget WeatherWidget LoadsheetWidget LoadsheetWidget"
    "PrevWidget WeatherWidget LoadsheetWidget LoadsheetWidget";
}

.WidgetTitle {
  font-size: 1.5rem;
  color: var(--mainText)
}

.FWidgetDiv {
  min-width: 250px;
  margin: var(--widgetMargin);
  display: flex;
  font-size: 1.7rem;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.FWidgetDiv #Current {
  grid-area: CFWidget;
}

.FWidgetDiv #Previous {
  grid-area: PrevWidget;
}

.FWidgetDiv #Panel {
  padding-top: 5%;
  padding-left: 8%;
  min-height: 250px;
  display: grid;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 3px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  color: var(--cardText);
  background: var(--cardBackground);
  grid-template-areas:
    "DepArr DepArr"
    "Time Distance"
    "ETA .";
}

.FWidgetDiv #Panel #DepArr {
  font-size: 2rem;
  font-weight: 700;
  grid-area: DepArr;
}

.FWidgetDiv #Panel #Title {
  font-size:0.8rem;
  font-weight: 700;
  color: var(--mainTextSecondary);
  grid-area: DepArr;
}

.WeatherWidgetDiv {
  grid-area: WeatherWidget;
  min-width: 250px;
  margin: var(--widgetMargin);
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.WeatherWidgetDiv #Panel {
  min-height: 450px;
  margin: 3px;
}

.LoadsheetWidgetDiv {
  grid-area: LoadsheetWidget;
  min-width: 250px;
  margin: var(--widgetMargin);
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.LoadsheetWidgetDiv #Area {
  min-height: 450px;
  display: grid;
  margin: 3px;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.LoadsheetWidgetDiv #Area #Panel1 {
  min-height: 450px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0px 7px 0px 0px;
  background: var(--cardBackground);
  display: grid;
  grid-template-rows: 85% 15%;
  grid-template-areas:
    "Main"
    "BottomPanel1";
}

.LoadsheetWidgetDiv #Area #Panel1 #BottomPanel {
  grid-area: BottomPanel1;
  background: #567FD2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.LoadsheetWidgetDiv #Area #Panel2 {
  min-height: 450px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 0px 7px;
  background: var(--cardBackground);
  display: grid;
  grid-template-rows: 85% 15%;
  grid-template-areas:
    "Main"
    "BottomPanel2";
}

.LoadsheetWidgetDiv #Area #Panel2 #BottomPanel {
  grid-area: BottomPanel2;
  background: #FE5353;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.LoadsheetWidgetDiv #Area #BottomPanel {
  color: white;
  font-weight: 700;
}

.LoadsheetWidgetDiv #Area #BottomPanel #Title {
  font-size:0.65rem;
  font-weight: 700;
  color: var(--mainTextSecondary);
  grid-area: DepArr;
}